<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Anime</h5>
        {{#each animes}}
        <li>{{title}}</li>
        <li>is {{description}}</li><br>
        {{/each}}
        <a href="#" class="btn btn-primary">sample</a>
    </div>

</div>