<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {{!--
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> --}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>Blog</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Tech Blog Post</a>

        <div class="icons">
            <div class="navbar-brand"> {{user.email}}</div>
            <a class="navbar-brand" href="/blogs">|Community Blogs|</a>
            <a class="navbar-brand" href="/register">|Register|</a>
            <a class="navbar-brand" href="/login">|Login|</a>
            <a class="navbar-brand" href="/logout">|Logout|</a>

        </div>

    </nav>
    <div class="container">
        {{{body}}}
    </div>

</body>

<script>

</script>

</html>