<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>

        <li>description: {{description}}</li>
        <li>rank: {{rank}}</li>
        <li>rating: {{rating}}</li><br>
        <a href="#" class="btn btn-primary">sample</a>
    </div>

</div>